---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="subsidiaries">
    <main class="space-y-40 mb-40">
        <Header 
         title="hoocorp's subsidiaries"
         description="A full list of all our subsidiaries."
        />
        <div class="container mx-auto px-[11%]">
            <h2 class="text-white text-3xl font-semibold">Media Tools and Platforms</h2>
            <br>
            <p class="text-slate-400">Our best-in-class tools make us clearly different.</p>
            <br>
            <div class="flex gap-4">
                <div class="flex-1 text-center p-[2%] bg-sky-950 text-white rounded-md">
                    <h3 class="font-semibold text-lg">hoocorder</h3>
                    <br>
                    <a href="/subsidiaries/media#hoocorder" class="p-[5%] text-slate-900 font-bold rounded-xl bg-blue-400">Learn more</a>
                </div>
                <div class="contents">
                    <div class="flex-1 text-center p-[2%] bg-sky-950 text-white rounded-md">
                        <h3 class="font-semibold text-lg">hooplayer</h3>
                        <br>
                        <a href="/subsidiaries/media#hooplayer" class="p-[5%] text-slate-900 font-bold rounded-xl bg-blue-400">Learn more</a>
                    </div>
                    <div class="flex-1 text-center p-[2%] bg-sky-950 text-white rounded-md">
                        <h3 class="font-semibold text-lg">hootube</h3>
                        <br>
                        <a href="/subsidiaries/media#hootube" class="p-[5%] text-slate-900 font-bold rounded-xl bg-blue-400">Learn more</a>
                    </div>
                </div>
                <div class="flex-1 text-center p-[2%] bg-sky-950 text-white rounded-md">
                    <h3 class="font-semibold text-lg">hootv</h3>
                    <br>
                    <a href="/subsidiaries/media#hootv" class="p-[5%] text-slate-900 font-bold rounded-xl bg-blue-400">Learn more</a>
                </div>
            </div>
            <br>
            <div class="flex gap-4">
                <div class="flex-1 text-center p-[2%] bg-sky-950 text-white rounded-md">
                    <h3 class="font-semibold text-lg">hoomusic</h3>
                    <br>
                    <a href="/subsidiaries/media#hoomusic" class="p-[5%] text-slate-900 font-bold rounded-xl bg-blue-400">Learn more</a>
                </div>
                <div class="contents">
                    <div class="flex-1 text-center p-[2%] bg-sky-950 text-white rounded-md">
                        <h3 class="font-semibold text-lg">hooview</h3>
                        <br>
                        <a href="/subsidiaries/media#hooview" class="p-[5%] text-slate-900 font-bold rounded-xl bg-blue-400">Learn more</a>
                    </div>
                    <div class="flex-1 text-center p-[2%] bg-sky-950 text-white rounded-md">
                        <h3 class="font-semibold text-lg">hoonews</h3>
                        <br>
                        <a href="/subsidiaries/media#hoonews" class="p-[5%] text-slate-900 font-bold rounded-xl bg-blue-400">Learn more</a>
                    </div>
                </div>
                <div class="flex-1 text-center p-[2%] bg-sky-950 text-white rounded-md">
                    <h3 class="font-semibold text-lg">hooflix</h3>
                    <br>
                    <a href="/subsidiaries/media#hooflix" class="p-[5%] text-slate-900 font-bold rounded-xl bg-blue-400">Learn more</a>
                </div>
            </div>
        </div>
    </main>
</Layout>